.sym-login-content {
    width: 400px;
    margin: 40px auto;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
}
.sym-login-inner{
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba($color: #000, $alpha: .1);

    .sym-login-form {
        padding: 0 24px 80px;
        .sym-form-tabs {
            text-align: left;
            .sym-form-tab {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                margin-right: 24px;
                color: $title-color;
            }
            .sym-form-tab-active {
                font-weight: bold;
                border-bottom: 3px solid $primary-color;
            }
        }
        .sym-form-item{
            border-bottom: $border;
        }
        .sym-input-wrapper {
            flex: 1;
            margin-top: 24px;
            input[type="text"],
            input[type="password"] {
                width: 100%;
                height: 48px;
                line-height: 48px;
                font-size: 14px;
                border: none;
            }
        }

        .sym-input-error-mask {
            cursor: text;
            visibility: hidden;
            position: absolute;
            top: 24px;
            transform: translateY(-50%);
            width: 80%;
            text-align: left;
            color: $color-error;
            background-color: $color-white;
        }
        .sym-account {
            position: relative;
            display: flex;
            .sym-countries-select-wrapper {
                display: inline-block;
                margin-top: 24px;
            }
        }
        .sym-password {
            position: relative;
            .sym-btn-password-switch {
                position: absolute;
                right: 0;
                top: 24px;
                width: 24px;
                height: 20px;
                transform: translateY(-50%);
            }
        }
        .sym-form-options {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .sym-form-option-switch {
                color: $primary-color-dark;
            }
            .sym-form-option-switch:hover {
                color: $text-color;
            }

            .sym-form-forget-pass:hover {
                color: $title-color;
            }
        }
        .sym-btn-submit {
            width: 100%;
            height: 36px;
            margin-top: 30px;
        }
    }
}