/* 内容区 */
.sym-content{
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}
/* 根据header和navbar自动适应内容区高度 */
/* 有header的时候，content才会有padding-top样式 */
.sym-header ~ .sym-content{
    padding-top: 2.3rem;
}
/* 通用选择器，前面的做限制，后面的才是样式的目标 */
/* 有navbar的时候，content才会有padding-dosymom样式 */
.sym-navbar ~ .sym-content{
    padding-bottom: 2.5rem;
}