@charset "utf8";

$color-white: #FFF;
$color-background: #333;
$color-border: #ebebeb;
$color-error: #f1403c;
$text-color: #8c8c8c;
$title-color: #444;
$primary-color: #0084ff;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

$border: 1px solid #ebebeb;