// 容器
.container {
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 1270px) {
    .container {
        width: 1248px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 983px;
        padding: 0 12px;
    }
}

// 布局
.vhCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.withRow {
    display: flex;
    flex-direction: row;
}

.flex_1 {
    flex: 1;
}

.flex_i_c {
    align-items: center;
}

.d-grid {
    display: grid;
}

.d-grid-r10 {
    grid-row-gap: 10px;
}

.d-grid-ckv {
    grid-column-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.operationItem {
    cursor: pointer;
}

// 中间布局
.bg-dashboard {
    min-height: calc(100vh - 210px); /* 总高度 - 头部 - 底部 */
    background: radial-gradient(#f9f9f9 100%, #f9f9f9 0);
}

.dashboard-main-wrap {
    padding: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 100%;
    font-size: 14px;
}

.dashboard-main {
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
}

/* * 详情块信息 * */
.block-wrapper {
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
}

/* 块 */
.card-wrap {
    border-radius: 8px;
    background-color: #eff2f9;
    border: 1px solid #fffff9;

    .card-wrap-body {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;

        .card-title {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
        }
    }
}

.shawdow-block {
    box-shadow: 0 20px 24px -20px rgb(15 18 96 / 10%);
}

// 文字
.t-r {
    text-align: right;
}

.fs-20 {
    font-size: 20px;
}

// 颜色
.c-quiet {
    color: #3f4d72;
}

.c-b {
    color: #2170ff;
}

.c-grey {
    color: #8191b5;
}

.mr-10 {
    margin-right: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}