.top-pagination {
    padding: 15px 0;
    .arrow {
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
            background-color: #DDD;
        }
    }

    .page-data {
        padding: 0 10px;
    }
}