.search-btn {
    margin-left: 20px;
}

.search-content {
        margin-bottom: 240px;
    img {
        width: 100px;
        height: 100px;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .search-empty_text {
        font-size: 16px;
        color: #333;
    }
}