body {
  background: #CDCDCD;
}
.header {
  line-height: 80px;
  background-color: $color-background;

  .header-content {
    width: 600px;
    margin: 0 auto;
    font-size: $font-size-24;
    color: $color-white;

    .header-input {
      float: right;
      width: 360px;
      margin-top: 24px;
      line-height: 30px;
      font-size: $font-size-16;
      border-radius: 3px;
    }
  }
}

.undo-list {
  margin: 0 auto;
  width: 600px;
  padding-bottom: 10px;
  .undo-list-title {
    margin: 10px 0;
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  .undo-list-count {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    background: #E6E6EA;
    border-radius: 50%;
  }
}

.undo-list-content {
  .list-item {
    line-height: 32px;
    font-size: 16px;
    text-indent: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    .item-done {
      margin-right: 10px;
    }
  }
  .undo-list-item {
    background: #FFF;
    border-left: 5px solid #629A9C;
  }

  .done-list-item {
    background: #E6E6E6;
    border-left: 5px solid #999;
  }

  .undo-list-delete {
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 6px;
    line-height: 20px;
    background: #E6E6EA;
    text-indent: 0;
    text-align: center;
    border-radius: 50%;
  }
  .undo-list-input {
    position: relative;
    width: 300px;
    top: -1px;
    outline: none;
    line-height: 22px;
    text-indent: 10px;
    border-radius: 3px;
  }
}
